### In all the following questions, you have to use BeautifulSoup to scrape different websites and collect data as per the requirement of the question.

#### 1) Write a python program to display all the header tags from wikipedia.org and make data frame.

In [3]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
html = urlopen('https://en.wikipedia.org/wiki/Main_Page')
bs = BeautifulSoup(html, "html.parser")
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

#### 2) Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [ ]:
Not Applicable

### 3) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame-
- a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
- b) Top 10 ODI Batsmen along with the records of their team andrating.
- c) Top 10 ODI bowlers along with the records of their team andrating.

### a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
response = requests.get(url)
html_content = response.text
soup = BeautifulSoup(html_content, "html.parser")
table = soup.find("table", class_="table")
teams = []
matches = []
points = []
rating = []

for row in table.find_all("tr")[1:11]:  
    cols = row.find_all("td")
    teams.append(cols[1].text.strip())
    matches.append(int(cols[2].text))
    points.append(int(cols[3].text.replace(',', ''))) 
    rating.append(int(cols[4].text))
data = {
    "Team": teams,
    "Matches": matches,
    "Points": points,
    "Rating": rating
}

df = pd.DataFrame(data)

df

               Team  Matches  Points  Rating
0    Australia\nAUS       23    2714     118
1     Pakistan\nPAK       20    2316     116
2        India\nIND       36    4081     113
3   New Zealand\nNZ       27    2806     104
4      England\nENG       24    2426     101
5  South Africa\nSA       19    1910     101
6   Bangladesh\nBAN       28    2661      95
7  Afghanistan\nAFG       16    1404      88
8     Sri Lanka\nSL       32    2794      87
9   West Indies\nWI       38    2582      68

### b) Top 10 ODI Batsmen along with the records of their team andrating.

In [8]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
response = requests.get(url)
html_content = response.text
soup = BeautifulSoup(html_content, "html.parser")
table = soup.find("table", class_="table")

players = []
teams = []
ratings = []

for row in table.find_all("tr")[1:11]:  # Skip the header row and take the top 10 batsmen
    cols = row.find_all("td")
    players.append(cols[1].text.strip())
    teams.append(cols[2].text.strip())
    ratings.append(int(cols[3].text))

data = {
    "Player": players,
    "Team": teams,
    "Rating": ratings
}

df = pd.DataFrame(data)
df

                  Player Team  Rating
0             Babar Azam  PAK     886
1  Rassie van der Dussen   SA     777
2           Fakhar Zaman  PAK     755
3            Imam-ul-Haq  PAK     745
4           Shubman Gill  IND     743
5           Harry Tector  IRE     726
6           David Warner  AUS     726
7        Quinton de Kock   SA     718
8            Virat Kohli  IND     705
9            Steve Smith  AUS     702

### c) Top 10 ODI bowlers along with the records of their team andrating.

In [10]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
response = requests.get(url)
html_content = response.text
soup = BeautifulSoup(html_content, "html.parser")
table = soup.find("table", class_="table")
players = []
teams = []
ratings = []

for row in table.find_all("tr")[1:11]:  # Skip the header row and take the top 10 bowlers
    cols = row.find_all("td")
    players.append(cols[1].text.strip())
    teams.append(cols[2].text.strip())
    ratings.append(int(cols[3].text))
data = {
    "Player": players,
    "Team": teams,
    "Rating": ratings
}

df = pd.DataFrame(data)
df

             Player Team  Rating
0    Josh Hazlewood  AUS     705
1    Mitchell Starc  AUS     686
2       Rashid Khan  AFG     682
3    Mohammed Siraj  IND     670
4        Matt Henry   NZ     667
5  Mujeeb Ur Rahman  AFG     661
6       Trent Boult   NZ     660
7        Adam Zampa  AUS     652
8    Shaheen Afridi  PAK     630
9     Kuldeep Yadav  IND     622

#### 4) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame-
- a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
- b) Top 10 women’s ODI Batting players along with the records of their team and rating.
- c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [13]:
url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
response = requests.get(url)
html_content = response.text
soup = BeautifulSoup(html_content, "html.parser")
table = soup.find("table", class_="table")
teams = []
matches = []
points = []
rating = []

for row in table.find_all("tr")[1:11]:  
    cols = row.find_all("td")
    teams.append(cols[1].text.strip())
    matches.append(int(cols[2].text))
    points.append(int(cols[3].text.replace(',', ''))) 
    rating.append(int(cols[4].text))
data = {
    "Team": teams,
    "Matches": matches,
    "Points": points,
    "Rating": rating
       }

df = pd.DataFrame(data)
df

               Team  Matches  Points  Rating
0    Australia\nAUS       26    4290     165
1      England\nENG       31    3875     125
2  South Africa\nSA       26    3098     119
3        India\nIND       30    3039     101
4   New Zealand\nNZ       28    2688      96
5   West Indies\nWI       29    2743      95
6   Bangladesh\nBAN       17    1284      76
7     Sri Lanka\nSL       12     820      68
8     Thailand\nTHA       13     883      68
9     Pakistan\nPAK       27    1678      62

### b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [15]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
response = requests.get(url)
html_content = response.text
soup = BeautifulSoup(html_content, "html.parser")
table = soup.find("table", class_="table")
players = []
teams = []
ratings = []

for row in table.find_all("tr")[1:11]:  # Skip the header row and take the top 10 batsmen
    cols = row.find_all("td")
    players.append(cols[1].text.strip())
    teams.append(cols[2].text.strip())
    ratings.append(int(cols[3].text))
data = {
    "Player": players,
    "Team": teams,
    "Rating": ratings
     }

df = pd.DataFrame(data)
df

                 Player Team  Rating
0  Natalie Sciver-Brunt  ENG     803
1   Chamari Athapaththu   SL     758
2           Beth Mooney  AUS     751
3       Laura Wolvaardt   SA     732
4       Smriti Mandhana  IND     708
5          Alyssa Healy  AUS     702
6      Harmanpreet Kaur  IND     694
7          Ellyse Perry  AUS     686
8           Meg Lanning  AUS     682
9       Stafanie Taylor   WI     618

### c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [18]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
response = requests.get(url)
html_content = response.text
soup = BeautifulSoup(html_content, "html.parser")
table = soup.find("table", class_="table")
players = []
teams = []
ratings = []

for row in table.find_all("tr")[1:11]:  # Skip the header row and take the top 10 all-rounders
    cols = row.find_all("td")
    players.append(cols[1].text.strip())
    teams.append(cols[2].text.strip())
    ratings.append(int(cols[3].text))
data = {
    "Player": players,
    "Team": teams,
    "Rating": ratings
      }

df = pd.DataFrame(data)
df

                 Player Team  Rating
0  Natalie Sciver-Brunt  ENG     421
1      Ashleigh Gardner  AUS     389
2       Hayley Matthews   WI     382
3        Marizanne Kapp   SA     349
4          Ellyse Perry  AUS     329
5           Amelia Kerr   NZ     328
6         Deepti Sharma  IND     312
7         Jess Jonassen  AUS     241
8         Sophie Devine   NZ     233
9              Nida Dar  PAK     232

#### 5) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame-
- i) Headline
- ii) Time
- iii) News Link

### i) Headline

In [23]:
url = "https://www.cnbc.com/world/?region=world"
response = requests.get(url)
html_content = response.text
soup = BeautifulSoup(html_content, "html.parser")
headlines = []
for headline in soup.find_all("h3", class_="Card-title"):
    headlines.append(headline.text.strip())
data = {"Headline": headlines}
df = pd.DataFrame(data)
print(df)

Empty DataFrame
Columns: [Headline]
Index: []

### ii) Time

In [24]:
url = "https://www.cnbc.com/world/?region=world"
response = requests.get(url)
html_content = response.text
soup = BeautifulSoup(html_content, "html.parser")
timestamps = []
for timestamp in soup.find_all("time"):
    timestamps.append(timestamp.text.strip())
data = {"Time": timestamps}
df = pd.DataFrame(data)
df

            Time
0   13 Hours Ago
1   13 Hours Ago
2   14 Hours Ago
3   14 Hours Ago
4   14 Hours Ago
5   14 Hours Ago
6   14 Hours Ago
7   15 Hours Ago
8   15 Hours Ago
9   15 Hours Ago
10  15 Hours Ago
11  15 Hours Ago
12  16 Hours Ago
13  16 Hours Ago
14  16 Hours Ago
15  16 Hours Ago
16  16 Hours Ago
17  17 Hours Ago
18  17 Hours Ago
19  17 Hours Ago
20  17 Hours Ago
21  18 Hours Ago
22  18 Hours Ago
23  18 Hours Ago
24  18 Hours Ago
25  18 Hours Ago
26  18 Hours Ago
27  18 Hours Ago
28  18 Hours Ago
29  19 Hours Ago

### iii) News Link

In [28]:
url = "https://www.cnbc.com/world/?region=world"
response = requests.get(url)
html_content = response.text
soup = BeautifulSoup(html_content, "html.parser")
links = []
for link in soup.find_all("a", class_="Card-titleLink"):
    links.append(link["href"])
data = {"News Link": links}
df = pd.DataFrame(data)
print(df)

Empty DataFrame
Columns: [News Link]
Index: []

#### 6) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details and make data frame-
- i) Paper Title
- ii) Authors
- iii) Published Date
- iv) Paper URL

### i) Paper Title

In [29]:
url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"
response = requests.get(url)
html_content = response.text
soup = BeautifulSoup(html_content, "html.parser")
paper_titles = []
for title in soup.find_all("h2", class_="pod-list-title"):
    paper_titles.append(title.text.strip())
data = {"Paper Title": paper_titles}
df = pd.DataFrame(data)
print(df)

Empty DataFrame
Columns: [Paper Title]
Index: []

### ii) Authors

In [31]:
url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"
response = requests.get(url)
html_content = response.text
soup = BeautifulSoup(html_content, "html.parser")
authors_list = []
for authors in soup.find_all("ul", class_="author-list"):
    authors_names = [author.text.strip() for author in authors.find_all("li")]
    authors_list.append(authors_names)
data = {"Authors": authors_list}
df = pd.DataFrame(data)
print(df)

Empty DataFrame
Columns: [Authors]
Index: []

### iii) Published Date

In [32]:
url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"
response = requests.get(url)
html_content = response.text
soup = BeautifulSoup(html_content, "html.parser")
dates = []
for date in soup.find_all("span", class_="pod-list-content-date"):
    dates.append(date.text.strip())
data = {"Published Date": dates}
df = pd.DataFrame(data)
print(df)

Empty DataFrame
Columns: [Published Date]
Index: []

### iv) Paper URL

In [35]:
url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"
response = requests.get(url)
html_content = response.text
soup = BeautifulSoup(html_content, "html.parser")
paper_urls = []
for link in soup.find_all("a", class_="pod-list-title-link"):
    paper_urls.append(link["href"])
data = {"Paper URL": paper_urls}
df = pd.DataFrame(data)
print(df)

Empty DataFrame
Columns: [Paper URL]
Index: []

#### 7) Write a python program to scrape mentioned details from dineout.co.in and make data frame-
- i) Restaurant name
- ii) Cuisine
- iii) Location
- iv) Ratings
- v) Image URL

### i) Restaurant name

In [38]:
url = "https://www.dineout.co.in/delhi-restaurants"
response = requests.get(url)
html_content = response.text
soup = BeautifulSoup(html_content, "html.parser")
restaurant_names = []
for name in soup.find_all("div", class_="restnt-info"):
    restaurant_name = name.find("h3")
    if restaurant_name:
        restaurant_names.append(restaurant_name.text.strip())
data = {"Restaurant Name": restaurant_names}
df = pd.DataFrame(data)
print(df)

Empty DataFrame
Columns: [Restaurant Name]
Index: []

### ii) Cuisine

In [40]:
url = "https://www.dineout.co.in/delhi-restaurants"
response = requests.get(url)
html_content = response.text
soup = BeautifulSoup(html_content, "html.parser")
cuisines = []
for cuisine in soup.find_all("p", class_="tags-cuisine"):
    cuisines.append(cuisine.text.strip())
data = {"Cuisine": cuisines}
df = pd.DataFrame(data)
print(df)

Empty DataFrame
Columns: [Cuisine]
Index: []

### iii) Location

In [41]:
url = "https://www.dineout.co.in/delhi-restaurants"

# Fetch the HTML content of the page
response = requests.get(url)
html_content = response.text

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(html_content, "html.parser")

# Find all the location details
locations = []
for location in soup.find_all("span", class_="restnt-loc"):
    locations.append(location.text.strip())

# Create a DataFrame from the extracted data
data = {"Location": locations}
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

Empty DataFrame
Columns: [Location]
Index: []

### iv) Ratings

In [42]:
url = "https://www.dineout.co.in/delhi-restaurants"
response = requests.get(url)
html_content = response.text
soup = BeautifulSoup(html_content, "html.parser")
ratings = []
for rating in soup.find_all("div", class_="rating-review"):
    rating_value = rating.find("span", class_="rating").text.strip()
    ratings.append(rating_value)
data = {"Ratings": ratings}
df = pd.DataFrame(data)
print(df)

Empty DataFrame
Columns: [Ratings]
Index: []

### v) Image URL

In [43]:
url = "https://www.dineout.co.in/delhi-restaurants"
response = requests.get(url)
html_content = response.text
soup = BeautifulSoup(html_content, "html.parser")
image_urls = []
for image in soup.find_all("div", class_="restnt-thumbnail"):
    image_url = image.find("img")["src"]
    image_urls.append(image_url)
data = {"Image URL": image_urls}
df = pd.DataFrame(data)
print(df)

Empty DataFrame
Columns: [Image URL]
Index: []